/* Global Styles */
* {
    font-family: "Roboto";
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 300;
}

/* Base Elements */
html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(0deg, rgb(12, 12, 12) 0%, rgb(37, 37, 46) 100%);
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
}

p {
    box-shadow: 0px 0px 20px black rgba(0, 0, 0, 0.5);
    color: white;
    font-family: "Roboto", serif;
    font-style: normal;
    font-weight: 100;
}

/* Navbar Styles */
.navbar {
    background-color: rgb(30, 30, 30);
    box-shadow: 0 5px 200px var(--theme);
    position: sticky;
    top: 0;
    z-index: 9999;
    padding: 10px 0; /* Adjust how much space around the navbar content itself */
}

.navbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ensure space between groups */
    padding: 0 20px; /* Control padding for navbar internal content */
}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;
}

.nav-left {
    gap: 10px; /* Space between Store and Request */
}

.nav-center {
    flex-grow: 1;
    margin: 0 10px; /* Add lateral margin */
}

.navbar-button {
    align-items: center;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    color: rgb(245, 245, 245);
    cursor: pointer;
    display: inline-flex;
    font-family: "Roboto";
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    padding: 8px 3rem; /* Adjust padding for the buttons */
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.navbar-button.active {
    position: relative;
}

.navbar-button.active::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: white; /* Change to match your design */
    position: absolute;
    bottom: -2px; /* Adjust position to appear under the button */
    left: 0;
}

.navbar-button:hover {
    background-color: #444;
}

.navbar-button img.cart-icon {
    width: 70px;
}

/* Logo Styles */
.navlogo {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 10px;
    height: auto;
    padding: 5px 5px 5px 1rem;
    width: auto;
}

.navlogo-container {
    align-items: center;
    display: flex;
    flex-shrink: 0;
}

/* Wrapper and Control Styles */
.wrapper {
    margin: 0 auto;
    width: 65%;
}

.search-and-sort {
    align-items: center;
    display: flex;
    margin: 1rem 2rem;
}

.searchbar {
    background: rgb(67, 67, 82);
    border: none;
    border-radius: 15px;
    color: rgb(245, 245, 245);
    flex: 1 1 auto;
    font-family: "Roboto";
    font-optical-sizing: auto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 350;
    height: 40px;
    max-width: 100%;
    outline: none;
    padding: 0 15px;
}

/* Dropdown Styles */
.category-dropdown,
.sort-dropdown {
    background: rgb(67, 67, 82);
    border: none;
    border-radius: 15px;
    color: rgb(245, 245, 245);
    flex: 0 0 auto;
    font-family: "Roboto";
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 350;
    height: 40px;
    margin-left: 10px;
    padding: 5px;
}

option {
    color: rgb(245, 245, 245);
    font-family: "Roboto";
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 350;
}

::placeholder {
    color: rgb(245, 245, 245);
    font-family: "Roboto";
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 350;
}

input:focus::placeholder {
    color: transparent;
}

/* Item and Grid Styling */
.items {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin: 1rem auto;
    max-width: calc(5 * (200px + 50px));
    padding: 0 2rem;
}

.item {
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    height: 240px;
    justify-content: center;
    position: relative;
    text-decoration: none;
    transition: transform 0.1s;
    user-select: none;
    width: 200px;
    -webkit-user-select: none;
}

.item[hidden] {
    display: none;
}

.item img {
    display: block;
    transition: opacity 0.3s ease;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1.25em;
    font-weight: 400;
    border-radius: 15px;
    opacity: 0;
    transition: opacity 0.15s ease;
    pointer-events: none; /* Prevent interference when not needed */
    z-index: 1;
}

.item:hover .overlay {
    display: flex;  /* Show overlay on hover */
    pointer-events: auto; /* Enable interactions */
    opacity: 1;
}

.item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: none; /* Default state */
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
    pointer-events: none; /* Disable interactions by default */
}

.cart-counter {
    position: absolute;
    top: 5px;
    left: 0.5rem;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 0.75em;
    display: none; /* Hide by default */
}

.stock-counter {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 0.75em;
    display: none; /* Hide by default */
}

.add-to-cart-message {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    display: none; /* Start hidden */
    z-index: 2; /* Ensure this is above other elements */
}

.item.ripple-animation img {
    animation: ripple 0.6s ease-out;
}

@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
    }
    100% {
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
}

.item:hover {
    opacity: 0.8;
    transform: scale(0.9);
}

.item:hover .overlay {
    opacity: 1;
}

/* Image and Text Styling */
.item-image {
    background: rgb(67, 67, 82);
    border-radius: 15px 15px 0 0;
    height: 200px;
    object-fit: cover;
    width: 200px;
}

.item-text {
    background-color: rgb(67, 67, 82);
    border-radius: 0 0 15px 15px;
    color: rgb(245, 245, 245);
    font-size: 18px;
    line-height: 40px;
    overflow: hidden;
    padding: 0px 10px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
}

/* No Items Styling */
.noitems {
    display: none;
    font-size: 32px;
    margin: 1rem;
    max-width: calc(100% - 4rem);
    padding: 0 15px;
    text-align: center;
    width: 43rem;
}

.noitems button {
    background-color: rgb(67, 67, 82);
    border-color: rgb(90, 90, 110);
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    margin-top: 35px;
    padding: 5px;
    text-align: center;
    width: fit-content;
}

.noitems button:hover {
    cursor: pointer;
}

.noitems button a {
    align-items: center;
    background-color: rgb(67, 67, 82);
    color: rgb(245, 245, 245);
    display: flex;
    font-size: 2rem;
    justify-content: center;
    text-decoration: none;
}

.noitems a {
    color: rgb(245, 245, 245);
    display: block;
    left: 0%;
    margin: 0 auto;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    width: 100%;
}

.form-container textarea {
    width: 80%;
    height: 20rem;
    font-family: Roboto;
    font-size: 1.25em;
    font-weight: 400;
    color: rgb(245, 245, 245);
    background-color: rgb(67, 67, 82);
    padding-top: 10px;
    padding-left: 10px;
    box-sizing: border-box;
    resize: none; /* Prevents resizing */
    outline: none;
    border: 1px solid rgb(245, 245, 245);
    border-style: double;
    border-radius: 1rem;
}

.form-container input { 
    vertical-align: top;
    padding-left: 10px;
    padding-top: 10px;
    width: 80%;
    height: 20rem;
    font-family: Roboto;
    font-size: 1.25em;
    font-weight: 400;
    color: rgb(245, 245, 245);
    background-color: rgb(67, 67, 82);
}

.submit-button {
    margin-top: 1rem;
    width: 10%;
    padding: 10px;
    background-color: #444;
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 400;
    color: rgb(245, 245, 245);
    border-color: rgb(245, 245, 245);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.15s ease;
}

.submit-button:hover {
    background-color: #555;
}

.payment-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    width: 100%;
}

.payment-options option {
    box-shadow: 0px 0px 20px black rgba(0, 0, 0, 0.5);
    color: white;
    font-family: "Roboto", serif;
    font-style: normal;
    font-weight: 400;
    color: rgb(245,245,245);
    background-color: rgb(67, 67, 82);
}
